################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Safety/bin/Debug
/Safety/obj/x86/Debug
